@using Escademy.Models;
@{

     Escademy.Dal.EscademyMDB db = ViewBag.db;
}
<style>
    .article-box .head .avatar {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        overflow: visible;
        margin: 0 8px 0 0;
        position: relative;
    }
</style>

@{
    foreach (var coaching in ViewBag.gameCoaches)
    {
        if (coaching.Verified == 1 && coaching.ServiceType == 1)
        {
            <article class="article-box" style="width: 25%">
                <div class="box">
                    <div class="img-holder">
                        @*<a href="#"><img src="@coaching.Picture" alt="img description"></a>*@

                        <a href="@Url.Action("Detail", "Coaching", new { id = coaching.Id })">
                            <div class="cf">
                                @*<img class="bottom" src="@coaching.Picture.Substring(0, coaching.Picture.Length - 4)-hover.png" />
                                    <img class="top" src="@coaching.Picture" />*@


                                @if (coaching.GamePicture == "0")
                                {
                                    <img src="~/Images/noImage.jpg" />
                                }
                                else
                                {
                                    <img src="~/CoachingImages/@coaching.GamePicture" />
                                }
                            </div>
                        </a>

                    </div>
                    <div class="article-caption">
                        <header class="head">
                            <div class="avatar">
                                @if (coaching.IsLoggedIn == 0)
                                {
                                    if (String.IsNullOrEmpty(coaching.UserPictureThumbnail))
                                    {
                                        <img src="/Content/Images/portrait_2.png" alt="pic" />
                                    }
                                    else
                                    {
                                        <img src="data:image/png;base64,@coaching.UserPictureThumbnail" alt="img description">
                                    }
                                }
                                else
                                {
                                    if (String.IsNullOrEmpty(coaching.UserPictureThumbnail))
                                    {
                                        <img src="/Content/Images/portrait_2.png" alt="pic" />
                                    }
                                    else
                                    {
                                        <img src="data:image/png;base64,@coaching.UserPictureThumbnail" alt="img description_1">
                                    }
                                    <span style="position:absolute;width: 12px; height: 12px; top:-5px; right:-4px; height: 12px; line-height: 14px; background: #00CC00; border: solid 2px #fff;border-radius: 50%;"></span>
                                }
                            </div>
                            <div class="info-wrap">
                                <span class="name"><a href="@Url.Action("Profile", "Profiles", new {Id = coaching.AccountId})">@coaching.UserFullName</a></span>
                                <span class="level">Offers coaching for @coaching.Abbreviation</span>
                            </div>
                        </header>
                        <div class="caption-body">
                            <h3 style="height:40px;"><a href="@Url.Action("Detail", "Coaching", new { id = coaching.Id})">@coaching.Title</a></h3>
                            <div class="user-rating">
                                @*<div style="">
                                        <i class="fas fa-star"></i>
                                        <span>
                                            <strong>5.0</strong>
                                        </span>
                                    </div>*@
                                <i class="fas fa-user-graduate"></i>
                                <span><strong>0</strong>coached</span>
                            </div>
                        </div>
                    </div>
                    <footer class="foot">
                        <div class="icons-box">
                            <a href="@Url.Action("Detail", "Coaching", new { aId = coaching.AccountId, gId = coaching.GameId})" class="list-icon">
                                <i class="far fa-credit-card"></i>
                            </a>
                            @*<a href="@Url.Action("Chat", "home", new { msgto = coaching.AccountId })" class="list-icon"><i class="fas fa-comments"></i></a>*@
                            <a href="javascript:;" onclick="StartConversation(@coaching.AccountId);" class="list-icon"><i class="fas fa-comments"></i></a>
                        </div>
                        <div class="price">
                            @*<a href="@Url.Action("Details", "Coaching", new { coaching.AccountId, coaching.GameId})">$@coaching.SalaryUSD.ToString().Substring(0, coaching.SalaryUSD.ToString().Length - 4)<small>per hour</small></a>*@
                            <a href="@Url.Action("Detail", "Coaching", new { id = coaching.Id })">$@coaching.Price<small>per hour</small></a>
                        </div>
                    </footer>
                </div>
            </article>
        }
        else
        {
            continue;
        }


    }
}