@model IEnumerable<Escademy.ViewModels.EarningListModel>
@{
    ViewBag.Title = "Earnings";
}
@section scripts {
    <script src="/Scripts/js/jquery-3.3.1.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/bootstrap.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/popper.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/vanta.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/bootstrap.min1.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/jquery.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/chat.js" type="text/javascript" language="javascript"></script>

    <script type="text/javascript" language="javascript">

            $(document).ready(function(){
                var id = $("#user_Id").val();
                $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetEarningsData"))",
                    data: { "id": id },
                success: function (data) {
                    $("#earningsData").html(data);
                },

            });
            });

            $(document).on(
                'show', '.accordion', function (e) {
                //$('.accordion-heading i').toggleClass(' ');
                $(e.target).prev('.accordion-heading').addClass('accordion-opened');
            });

            $(document).on('hide', '.accordion', function (e) {
                $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
                //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
            });

        $(document).ready(function () {
            var id = $("#user_Id").val();
            if (id == 2) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetWithdrawDataUsers"))",
                    success: function (data) {
                        $("#tableList_1").html(data);
                    },
                });
            }
            else {
                $("#withdrawView").hide();
            }
        })

            $("#monthFilter").change(function () {
                var month = this.value;
                var year = $("#yearFilter").val();
                var status = $("#statusFilter").val();
                var id = $("#user_Id").val();
                $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("FilterEarnings"))",
                    data: { "id": id, "statusFilter": status, "monthFilter" : month, "yearFilter" : year},
                success: function (data) {
                    $("#tableList").html(data);
                },

            });
            });

            $("#statusFilter").change(function () {
                var status = this.value;
                var year = $("#yearFilter").val();
                var month = $("#monthFilter").val();
                var id = $("#user_Id").val();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("FilterEarnings"))",
                    data: { "id": id, "statusFilter": status, "monthFilter": month, "yearFilter": year },
                    success: function (data) {
                        $("#tableList").html(data);
                    },
                });
            });

            $("#yearFilter").change(function () {
                var year = this.value;
                var month = $("#monthFilter").val();
                var status = $("#statusFilter").val();
                var id = $("#user_Id").val();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("FilterEarnings"))",
                    data: { "id": id, "statusFilter": status, "monthFilter": month, "yearFilter": year },
                    success: function (data) {
                        $("#tableList").html(data);
                    },
                });              
        });

         $("#paypalButton").click(function () {
                    debugger;
             var id = $("#user_Id").val();
             var paypalEmail = $("#paypalEmail").val();
             if (paypalEmail != "") {
                 $.ajax({
                     cache: false,
                     type: "GET",
                     url: "@(Url.Action("SetIsWithdrawTrue"))",
                     data: { "id": id, "paypalEmail": paypalEmail },
                     success: function (data) {
                         if (data == 1) {
                             alert("Your withdrawal request has been sent!");
                             window.location.reload();
                         }
                         else {
                             alert("Please check your wallet amount or you have already applied for withdrawal request. Please wait while it is processed!");
                         }
                     },
                 });
             }
             else {
                 alert("Please enter the paypal email address.");
             }
            });




    </script>

    <!-- FlexSlider -->
    <script src="/Scripts/js/jquery.flexslider.js"></script>
    <script src="/Scripts/js/helper-plugins.js"></script>
    <script src="/Scripts/js/init.js"></script>

}
@section styles {

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/all.css">
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Styles Rendered -->
    <link href="/Content/css/cssb.css" rel="stylesheet">
    <link href="/Content/css/custom-style.css" rel="stylesheet" />

}

<div class="coaching">
    <div class="coachinginfo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h3>Earnings</h3>
                    </div>
                    @*<div class="pull-right pt-1">Expected Earnings: $0</div>*@
                    <div class="flclear"></div>
                    <div class="spacer20"></div>
                    @Html.Partial("_EarningsDataPartialView", new Escademy.ViewModels.EarningDataModel())
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="pt-1">Withdraw</div>
                        </div>
                        <div class="col-lg-3">
                           <input type="text" placeholder="Enter your paypal email address" id="paypalEmail" class="form-control"/>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-lrg-standard btnsmall icons" name="button" type="submit" id="paypalButton"><i class="fa fa-paypal"></i>PayPal Account</button>
                        </div>
                    </div>
                    <div class="spacer20"></div>
                    <div class="white">
                        <div class="table-responsive" id="withdrawView">
                            @Html.Partial("_WithdrawalListDataPartialView", new List<Escademy.ViewModels.WithdrawalDataModel>())
                        </div>
                    </div>
                    <div class="spacer20"></div>
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="pt-1">Show</div>
                        </div>
                        <div class="col-lg-7">
                            <ul class="show">
                                <li>
                                    <select class="form-control" id="statusFilter">
                                        <option>Everything</option>
                                        <option>Order Revenue</option>
                                        <option>Funds Pending Clearance</option>
                                        <option>Funds Cleared</option>
                                    </select>
                                </li>
                                <li>
                                    <select class="form-control" id="yearFilter">
                                        <option>2019</option>
                                        <option>2018</option>
                                        <option>2017</option>
                                        <option>2016</option>
                                        <option>2015</option>
                                    </select>
                                </li>
                                <li>
                                    <select class="form-control" id="monthFilter">
                                        <option>All Months</option>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>March</option>
                                        <option>April</option>
                                        <option>May</option>
                                        <option>June</option>
                                        <option>July</option>
                                        <option>August</option>
                                        <option>September</option>
                                        <option>October</option>
                                        <option>November</option>
                                        <option>December</option>
                                    </select>
                                </li>
                            </ul>
                            <div class="flclear"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-right pt-1"><a href="#" class="btn-link"><small class="form-text"><strong>Export to CSV</strong></small></a></div>
                        </div>
                    </div>
                    <div class="spacer20"></div>
                    <div class="white">
                        <div class="table-responsive">
                            @Html.Partial("_EarningsPartialView")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>