@using Escademy.Models;
@using Escademy.Dal;
@model Escademy.ViewModels.CoachingVM

@{
    ViewBag.Title = "coachingDetails";

    var images = Model.Files.Where(x => x.FileType.Equals(1)).ToList();
    var video = Model.Files.Where(x => x.FileType.Equals(2)).FirstOrDefault();
    Model.Pricings = Model.Pricings.OrderBy(x => x.Hours).ToList();
    var quantity = Model.Pricings.FirstOrDefault().Hours;
    User user = ViewBag.User;
}
@section scripts {
    <!-- Start Conversation JS reference-->
    <script src="/Scripts/conversation.js"></script>

    @*<script type="text/javascript" src="/Scripts/createcoaching.js"></script>*@


    <script type="text/javascript" language="javascript">
        $(document).on('show', '.accordion', function (e) {
            //$('.accordion-heading i').toggleClass(' ');
            $(e.target).prev('.accordion-heading').addClass('accordion-opened');
        });

        $(document).on('hide', '.accordion', function (e) {
            $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
            //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
        });
    </script>
    <script>
        window.onscroll = function () { myFunction() };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>


    @*<script src="~/Scripts/FAQFactory.js"></script>*@

    <script>
        var quantity = @quantity;

        $(document).ready(function () {

            $(".order-price-updater").change(function () {
                quantity = parseInt($(this).find("option:selected").attr("data-quantity"));
                updateOrderPrice($(this).val());
            });


            @{
                if (Model != null && Model.Pricings != null && Model.Pricings.Count > 0)
                {
                    <text>updateOrderPrice(@Model.Pricings.FirstOrDefault().Price);</text>
                }
            }

            $(".continue-pay-btn").click(function () {
                location.href = "@Url.Action("New", "Order")?id=@Model.Id&AccountId=@Model.AccountId&GameId=@Model.GameId&Quantity="+quantity;
            });

            //-- Scroll top when slider-image change --
            $('#property-thumbs .item').on('click', function () {
                $("html, body").animate({ scrollTop: 127 }, "slow");
            });
        });

        function updateOrderPrice(price) {
            $(".order-price").text("$" + price);
            $(".order-price-updater").val(parseFloat(price));
        }

        // fix to numeric values.
        $(".order-price-updater option").each(function () {
            var price = parseFloat($(this).val());
            $(this).val(price);
            var indexValue = parseInt($(this).text().split(" ")[0]);
            $(this).text(indexValue + " (" + price + "$)");
        });
    </script>

    <!-- FlexSlider -->
    <script src="/Scripts/js/jquery.flexslider.js"></script>
    <script src="/Scripts/js/helper-plugins.js"></script>
    <script src="/Scripts/js/init.js"></script>

    <!-- pretty photo js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettyPhoto/3.1.6/js/jquery.prettyPhoto.min.js"></script>

}
@section styles {
    <link href="/Content/css/smart_wizard.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/flexslider.css" rel="stylesheet">
    <link href="/Content/css/custom-style.css" rel="stylesheet">
    <link media="all" rel="stylesheet" href="~/Content/css/main.css">

    <!-- pretty photo cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prettyPhoto/3.1.6/css/prettyPhoto.min.css" rel="stylesheet" />
    <!-- Slider-Images (Start) -->
    <style>
        .loader-img img {
            position: fixed !important;
            max-width: 50px !important;
            left: 50% !important;
            top: 50% !important;
            margin: 0px 0 0 -25px !important;
            z-index: 999;
        }

        .hide {
            display: none;
        }

        #property-thumbs > div > ul > li > img {
            height: 125px;
            -ms-transform: scale(1.5,1.5); /* IE 9 */
            -webkit-transform: scale(1.5,1.5); /* Safari prior 9.0 */
            transform: scale(1.5,1.5); /* Standard syntax */
        }

        #property-thumbs > div > ul > li.item {
            overflow: hidden;
        }

            #property-thumbs > div > ul > li.item.flex-active-slide {
                border: solid red !important;
            }

        .flexslider .slides img {
            width: auto !important;
        }

        #property-images > div > ul > li.item > img {
            margin: auto;
        }

        #property-thumbs > div > ul > li.item > img {
            margin: auto;
        }

        .sliderdetails .flexslider .slides > li.flex-active-slide {
            border: none !important;
        }

        #property-images > div > ul > li:nth-child(1) > img {
            display: block;
        }

        #property-images > div > ul > li > img {
            display: none;
        }

        #property-images > div > ul > li.item.flex-active-slide > img {
            display: block;
        }
    </style>
    <!-- Slider-Images (End) -->
}


@{

    if (Model == null)
    {
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="display-3">This coach could not be found</h1>
            </div>
        </section>
    }
    else
    {
        <div id="myHeader">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detailtop">
                            <div class="row">
                                <div class="col-lg-6 order-lg-2 order-md-1 order-sm-1">
                                    <!--<ul class="rightmenu">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Save in list"><i class="fa fa-bars"></i></a></li>
                                        <li><a href="#" class="float-left" data-toggle="tooltip" data-placement="top" title="Add to Saved"><i class="fa fa-heart-o textorange"></i> Save</a><span class="collect-count">12</span></li>
                                        <li><a href="#"><i class="fa fa-flag"></i></a></li>
                                        <li><a href="#"><i class="fa fa-share-alt textorange"></i> Share</a></li>
                                    </ul>-->
                                    <div class="flclear"></div>
                                </div>
                                <div class="col-lg-6 order-lg-1 order-md-2 order-sm-2">
                                    <ul class="leftmenu">
                                        <li><a href="#overview" class="active page-scroll">Overview</a></li>
                                        <li><a href="#description" class="page-scroll">Description</a></li>
                                        <li><a href="#coaching-offer" class="page-scroll">Coaching Offer</a></li>
                                        <li><a href="#faq" class="page-scroll">FAQ</a></li>
                                    </ul>
                                    <div class="flclear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="detailcontent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="whitebox" id="overview">
                            <h4 class="pb-2"><strong>@Model.Title</strong></h4>
                            <hr class="hrlinesmall" />
                            <div class="breadcrumbdiv">
                            </div>
                            <div class="sliderdetails">
                                <div id="property-images" class="flexslider">
                                    <ul class="slides">
                                        @if (images != null && images.Count > 0)
                                        {
                                            foreach (var item in images)
                                            {
                                                <li class="item"> <img src="~/CoachingImages/@item.FileName" alt=""> </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="item">
                                                <img src="~/Images/noImage.jpg" />
                                            </li>
                                        }
                                    </ul>
                                </div>

                                @if (images != null && images.Count > 1)
                                {
                                    <div id="property-thumbs" class="flexslider">
                                        <ul class="slides">
                                            @foreach (var item in images)
                                            {
                                            <li class="item"> <img src="~/CoachingImages/@item.FileName" alt=""> </li>
                                            }
                                        </ul>
                                    </div>
                                }


                            </div>
                        </div>
                        <div class="contentinfo" id="description">
                            <div class="card">
                                <div class="card-header">
                                    <strong>About This Coaching</strong>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-8 rightborder">
                                            <div style="white-space:pre-line;">
                                                @Model.Description
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contentinfo" id="coaching-offer">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Order Details</strong>
                                </div>
                                <div class="card-footer text-muted">
                                    <div class="pull-left">
                                        <ul class="pointsleft pb-0 pt-1">
                                            <li><strong>Quantity</strong></li>
                                            <li class="spacer10"></li>
                                            <li>
                                                <select class="form-control order-price-updater">
                                                    @if (Model.Pricings != null)
                                                    {
                                                        foreach (var item in Model.Pricings)
                                                        {
                                                            <option data-quantity="@item.Hours" value="@(item.Price)">@item.Hours ($@(item.Price))</option>
                                                        }
                                                    }
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pull-right"><button class="continue-pay-btn btn btn-lrg-standard">Continue (<span class="order-price"></span>)</button></div>
                                    <div class="flclear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="contentinfo" id="faq">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Frequently Asked Questions</strong>
                                </div>
                                <div class="card-body pt-0 pb-0">
                                    <div class="accordiondiv">
                                        <div class="accordion" id="accordion1">
                                            @if (Model.Faqs != null && Model.Faqs.Count > 0)
                                            {
                                                for (var i = 0; i < Model.Faqs.Count; i++)
                                                {
                                                    <div class="accordion-group" id="accordion_@i">
                                                        <div class="accordion-heading">
                                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_@i" aria-expanded="true">
                                                                <i class="fa fa-bars" aria-hidden="true"></i> @Model.Faqs[i].Title
                                                            </a>
                                                        </div>
                                                        <div id="collapse_@i" class="accordion-body collapse">
                                                            <div class="accordion-inner">
                                                                <div class="form-group">
                                                                    <p>@Model.Faqs[i].Description</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="whitebox">
                            <div>
                                <div class="pb-3"><h3><span class="order-price"></span> Order Details</h3></div>
                                <button class="continue-pay-btn btn btn-lrg-standard btn-block">Continue (<span class="order-price"></span>)</button>
                                <hr>
                                <div class="pull-left"><strong>Quantity</strong></div>
                                <div class="pull-right">
                                    <select class="form-control order-price-updater">
                                        @if (Model.Pricings != null)
                                        {
                                            foreach (var item in Model.Pricings)
                                            {
                                                <option data-quantity="@item.Hours" value="@(item.Price)">@item.Hours ($@(item.Price))</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="flclear"></div>
                            </div>
                        </div>
                        <div class="whitebox">
                            <div class="text-center">
                                <div>
                                    @if (String.IsNullOrEmpty(user.Picture))
                                    {
                                        <img src="/Content/Images/portrait_2.png" class="img-fluid circular--landscape w-25" />
                                    }
                                    else
                                    {
                                        <img src="data:image/png;base64,@user.Picture" class="img-fluid circular--landscape w-25" />
                                    }

                                </div>
                                <div class="pb-2"><h4><a href="@Url.Action("Profile","Profiles", new {id = Model.AccountId})"><strong>@user.FirstName</strong></a></h4></div>
                                <p>Coach</p>
                                @if (ViewBag.avgCountVal > 0)
                                {
                                    <div class="ratings-wrapper">
                                        <span id="star1">

                                            <ul class="ratings">
                                                @{
                                                    if (ViewBag.avgStarVal > 0)
                                                    {
                                                        for (int i = 1; i <= ViewBag.avgStarVal; i++)
                                                        {
                                                            <li><i class="fas fa-star"></i></li>
                                                        }

                                                        if (ViewBag.avgStarVal % 1 != 0)
                                                        {
                                                            <li><i class="fas fa-star-half-alt"></i></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </span>
                                        <p class="rating-text"><span class="total-rating-out-five" style="color: #555; font-weight: 700;" 9> @ViewBag.avgStarVal</span><span class="total-rating"> (@ViewBag.avgCountVal reviews)</span></p>
                                    </div>
                                                    }
                                    <div class="text-muted small">
                                        <div class="flclear"></div>
                                        <div class="spacer20"></div>
                                        <div>
                                            <a href="javascript:;" onclick="StartConversation(@Model.AccountId);" class="btn btn-white-grad btn-block">Contact Me</a>

                                            <div class="seller-card ">
                                                <ul class="user-stats">
                                                    <li class="location1">From<strong>@user.Country</strong></li>
                                                    <li class="member-since">Member since<strong>@ViewBag.date</strong></li>
                                                </ul>
                                                <article class="seller-desc" style="white-space:pre-line">@user.Description</article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}